/args
/bin
/.kube-secrets
/tmp/*
/dev
/test
/logs

*.html
.vscode
.idea
*.DS_Store
managevm
controller_manager
mcm.out
kubectl

# Binary files of MCM
./machine-controller-manager
./managevm
cmi-server

# Output of the go coverage tool, specifically when used with LiteIDE
*coverprofile.out*
