/args
/bin
/.kube-secrets
/tmp/*
/dev
/test
/logs
/hack/tools/bin

*.html
.vscode
.idea
.run 
**/.env
*.DS_Store
managevm
controller_manager
mcm.out
kubectl
.cache_ggshield

# Binary files of MCM
./machine-controller-manager
./managevm

# Output of the go coverage tool, specifically when used with LiteIDE
*coverprofile.out*

# Autogen tags
tags

# dont check in tool binariess
hack/tools/bin/

# gosec
gosec-report.sarif
